<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Josh Arts">

    <title>Rocket League Stats</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <%= stylesheet_link_tag "home" %>
    
</head>

<body>
   
   <nav id="nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/teams">TEAMS</a></li>
            <li><a href="/players" >PLAYERS</a></li>
            <li><a href="#section3" >COMPARE</a></li>
            <li><a href="#section4" >NEWS</a></li>
            <li class = "right"><a href="#section4" >LINK?</a></li>
            <li class = "left"><a href="#section4" >LOGO</a></li>
        </ul>
    </nav>
    
    <div class = "container rounded" style = "margin-top: 100px;">
        <div class = "row top-buffer">
            <div class = "col-md-4">
                <h1 class = "white shadow  top-buffer-small">TEAM SEARCH:</h1>
                <p class = "white">Click on a team to see more advanced stats.</p>
            </div>
            <div class = "col-md-2">
                <div class="form-group top-buffer-small">
                    <label for="exampleSelect1" class = "white twenty shadow">REGION</label>
                    <select class="form-control" id="exampleSelect1">
                          <option>All</option>
                          <option>NA</option>
                          <option>EU</option>
                    </select>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="form-group top-buffer-small">
                    <label for="exampleSelect1" class = "white twenty shadow">SORT BY</label>
                    <select class="form-control" id="exampleSelect1">
                          <option>None</option>
                          <option>Match Wins</option>
                          <option>Game Wins</option>
                          <option>Shooting %</option>
                          <option>First Blood %</option>
                          <option>Goals / Game</option>
                          <option>Assists / Game</option>
                          <option>Saves / Game</option>
                          <option>Shots / Game</option>
                    </select>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="form-group top-buffer-small">
                    <label for="exampleSelect1" class = "white twenty shadow">ORDER</label>
                    <select class="form-control" id="exampleSelect1">
                          <option>Highest First</option>
                          <option>Lowest First</option>
                    </select>
                </div>
            </div>
            <div class = "col-md-2">
                <div class = "searchbutton center rounded white top-buffer"><i class="fa fa-search sr-icons"></i></div>
            </div>
        </div>
        
        <div class = "searchtable">
            
            <table class = "white rounded bot-buffer">
                <tr>
                    <th>Icon</th>
                    <th>Team Name</th>
                    <th>Region</th>
                    <th>Match W:L</th>
                    <th>Game W:L</th>
                    <th>Shooting %</th>
                    <th>First Blood %</th>
                    <th>G / G</th>
                    <th>A / G</th>
                    <th>Sa / G</th>
                    <th>Sh / G</th>
                </tr>
                
                <% @team.each do |t| %>
                    <% if t.player_stats.length != 0 %>
                        <% goals = t.player_stats.sum(:goals) %>
                        <% assists = t.player_stats.sum(:assists) %>
                        <% saves = t.player_stats.sum(:saves) %>
                        <% shots = t.player_stats.sum(:shots) %>
                        <% fb = t.player_stats.sum(:fb) %>
                        <% games_played = t.player_stats.length / 3 %>
                        <tr>
                            <td><img src = <%= "Images/" + t.icon %> style = "height: 40px; width: 40px;"></td>
                            <td class = "twenty"><a href= <%= "/teams/" + t.identifier %>> <%= t.name %></a></td>
                            <td class = "twenty-four"><%= t.region %></td>
                            <% #Need to find a better way to do this... %>
                            <td class = "twenty-two"><%= t.m_wins.to_s + " : " + ((Match.where(blue_team_id: t.id).length + Match.where(orange_team_id: t.id).length) - t.m_wins).to_s %></td>
                            <td class = "twenty-two"><%= t.g_wins.to_s + " : " + (games_played - t.g_wins).to_s %></td>
                            <td class = "twenty-two"><%= ((goals.to_f / shots.to_f).round(3) * 100).round(3) %></td>
                            <td class = "twenty-two"><%= ((fb.to_f / games_played.to_f).round(3) * 100).round(3) %></td>
                            <td class = "twenty-two"><%= (goals.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (assists.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (saves.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (shots.to_f / games_played.to_f).round(2) %></td>
                        </tr>
                    <% else %>
                        <tr>
                            <td><img src = <%= "Images/" + t.icon %> style = "height: 40px; width: 40px;"></td>
                            <td class = "twenty"><a href= <%= "/teams/" + t.identifier %>> <%= t.name %></a></td>
                            <td class = "twenty-four"><%= t.region %></td>
                            <td class = "twenty-two">0 : 0</td>
                            <td class = "twenty-two">0 : 0</td>
                            <td class = "twenty-two">00.0</td>
                            <td class = "twenty-two">00.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                        </tr>
                    <% end %>
                <% end %>

            </table>
        </div>
    </div>

</body>

</html>