<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Josh Arts">

    <title>Rocket League Stats</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <%= stylesheet_link_tag "home" %>
    
</head>

<script>   
    
function getAllUrlParams(url) {
    
  var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
  var obj = {};

  if (queryString) {
    queryString = queryString.split('#')[0];
    var arr = queryString.split('&');
      
    for (var i=0; i<arr.length; i++) {
      var a = arr[i].split('=');
      var paramNum = undefined;
      var paramName = a[0].replace(/\[\d*\]/, function(v) {
        paramNum = v.slice(1,-1);
        return '';
      });

      var paramValue = typeof(a[1])==='undefined' ? true : a[1];
      if (obj[paramName]) {
        if (typeof obj[paramName] === 'string') {
          obj[paramName] = [obj[paramName]];
        }
        if (typeof paramNum === 'undefined') {
          obj[paramName].push(paramValue);
        }
        else {
          obj[paramName][paramNum] = paramValue;
        }
      }
      else {
        obj[paramName] = paramValue;
      }
    }
  }

  return obj;
}
    
$(document).ready(function(){
    
    var region = document.getElementById("region_select");
    var stat = document.getElementById("stat_select");
    var stage = document.getElementById("stage_select");
    
    // Get parameters.
    params = getAllUrlParams(window.location.href);
    
    // For conversion to option index.
    region_values = ["NA", "EU"];
    stat_values = ["goals", "assists", "saves", "shots", "points"]
    stage_values = ["lp", "lpw1", "lpw2"] //, "lpw3", "lpw4"]
    
    // Set the dropdowns to appropriate search params.
    region.selectedIndex = (params.region) ? region_values.indexOf(params.region) + 1 : 0;
    stat.selectedIndex = (params.sortby) ? stat_values.indexOf(params.sortby) : 0;
    stage.selectedIndex = (params.stage) ? stage_values.indexOf(params.stage) + 1 : 0;
    
    // Colour the selected column.
    columnIndex = stat.selectedIndex + 4;
    $('table tr td:nth-child(' + columnIndex + ')').css("color", "#F00");
    
    $('#search').on("click", function() {
        var region_query = ""
        var stat_query = ""
        var stage_query = ""
        
        if(region.selectedIndex != 0){
            region_query = "region=" + region.options[region.selectedIndex].value;
        }
        
        if(stat.selectedIndex != 0){
            stat_query = "sortby=" + stat.options[stat.selectedIndex].value;
        }
        
        if(stage.selectedIndex != 0){
            stage_query = "stage=" + stage.options[stage.selectedIndex].value;
        }
        
        var url = "/players"
        var list = [region_query, stat_query, stage_query];
        
        if(region_query != "" || stat_query != "" || stage_query != ""){
            url += "?";
            for(var i = 0; i < list.length; i++){
                if(i > 0 && list[i] != ""){url += "&";}
                url += list[i];
            }
        }

        window.location.href = url;
    });
    
});
    
</script>

<body>
   
   <nav id="nav">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/teams">TEAMS</a></li>
            <li><a href="/players" >PLAYERS</a></li>
            <li><a href="#section3" >COMPARE</a></li>
            <li><a href="#section4" >NEWS</a></li>
            <li class = "right"><a href="#section4" >LINK?</a></li>
            <li class = "left"><a href="#section4" >LOGO</a></li>
        </ul>
    </nav>
      
       <div class = "container rounded" style = "margin-top: 100px;">
        <div class = "row top-buffer">
            <div class = "col-md-4">
                <h1 class = "white shadow top-buffer-small">PLAYER SEARCH:</h1>
                <p class = "white">Click on a player to see more advanced stats.</p>
            </div>
            <div class = "col-md-2">
                <div class="form-group top-buffer-small">
                    <label for="exampleSelect1" class = "white twenty shadow">REGION</label>
                    <select class="form-control" id="region_select">
                          <option value = "none">All</option>
                          <option value = "NA">NA</option>
                          <option value = "EU">EU</option>
                    </select>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="form-group top-buffer-small">
                    <label for="exampleSelect1" class = "white twenty shadow">SORT BY</label>
                    <select class="form-control" id="stat_select">
                          <option value = "goals">Goals / Game</option>
                          <option value = "assists">Assists / Game</option>
                          <option value = "saves">Saves / Game</option>
                          <option value = "shots">Shots / Game</option>
                          <option value = "points">Points / Game</option>
                          <option>Shooting %</option>
                          <option>Save %</option>
                          <option>Winning Goals </option>
                          <option>First Bloods</option>
                          <option>Games Played</option>
                    </select>
                </div>
            </div>
            <div class = "col-md-2">
                <div class="form-group top-buffer-small">
                    <label for="exampleSelect1" class = "white twenty shadow">STAGE</label>
                    <select class="form-control" id="stage_select">
                          <option value = "none">All Season</option>
                          <option value = "lp">All League Play</option>
                          <option value = "lpw1">League Play W1</option>
                          <option value = "lpw2">League Play W2</option>
                          <option>League Play W3</option>
                          <option>League Play W4</option>
                          <option>Playoffs</option>
                          <option>LAN Final</option>
                    </select>
                </div>
            </div>
            <div class = "col-md-2">
                <div id = "search" class = "searchbutton center rounded white top-buffer"><i class="fa fa-search sr-icons"></i></div>
            </div>
        </div>
        
        <div class = "searchtable">

            <table class = "white rounded bot-buffer">
                <tr>
                    <th>Team</th>
                    <th>Player Name</th>
                    <th>Region</th>
                    <th>G / G</th>
                    <th>A / G</th>
                    <th>Sa / G</th>
                    <th>Sh / G</th>
                    <th>Pts / G</th>
                    <th>Shooting %</th>
                    <th>Save %</th>
                    <th>GWG</th>
                    <th>FB</th>
                    <th>GP</th>
                </tr>
                
                <% @player.each do |p| %>
                <% # Might be better to not initialize? %>
                    <% if @selectedWeek > 0 %>
                        <% playerStatPath = p.player_stats.where(week: @selectedWeek) %>
                    <% else %>
                        <% playerStatPath = p.player_stats %>
                    <% end %>
                    <% if playerStatPath.length != 0 %>
                        <% goals = playerStatPath.sum(:goals) %>
                        <% assists = playerStatPath.sum(:assists) %>
                        <% saves = playerStatPath.sum(:saves) %>
                        <% shots = playerStatPath.sum(:shots) %>
                        <% points = playerStatPath.sum(:points) %>
                        <% gwg = playerStatPath.sum(:gwg) %>
                        <% fb = playerStatPath.sum(:fb) %>
                        <% games_played = playerStatPath.length %>
                        <tr>
                            <td><img src = <%= "Images/" + Team.find(p.team_id).icon %> style = "height: 40px; width: 40px;"></td>
                            <td class = "twenty"><a href= <%= "/players/" + p.identifier %>> <%= p.name %></a></td>
                            <td class = "twenty-four"><%= p.region %></td>
                            <td class = "twenty-two"><%= (goals.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (assists.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (saves.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (shots.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= (points.to_f / games_played.to_f).round(2) %></td>
                            <td class = "twenty-two"><%= ((goals.to_f / shots.to_f).round(3) * 100).round(3) %></td>
                            <td class = "twenty-two">20.4</td>
                            <td class = "twenty-two"><%= gwg %></td>
                            <td class = "twenty-two"><%= fb %></td>
                            <td class = "twenty-two"><%= games_played %></td>
                        </tr>
                    <% else %>
                        <tr>
                            <td><img src = <%= "Images/" + Team.find(p.team_id).icon %> style = "height: 40px; width: 40px;"></td>
                            <td class = "twenty"><a href= <%= "/players/" + p.identifier %>> <%= p.name %></a></td>
                            <td class = "twenty-four"><%= p.region %></td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0.0</td>
                            <td class = "twenty-two">0</td>
                            <td class = "twenty-two">0</td>
                            <td class = "twenty-two">0</td>
                        </tr>
                    <% end %>
                <% end %>

            </table>
        </div>
    </div>

</body>

</html>